{% macro gen_menu(tab_menu) %}
<div class="accordion" id="accordionExample">
    {% for key,value in tab_menu.items() %}
    <div class="card">
        <div class="card-header">
            <h6 class="mb-0"><button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse{{key}}" aria-expanded="true" aria-controls="collapse{{key}}">{{key}}</a></h6></button>
        </div>
        {% if request.url.endswith(key) %}
        <div id="collapse{{key}}" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
        {% else %}
        <div id="collapse{{key}}" class="collapse collapsed" aria-labelledby="headingOne" data-parent="#accordionExample">
        {% endif %}
            <div class="card-body">
                <ul>
                    <li><a class="nav-link" href="{{ url_for('barman_status_server', server=key) }}">{%trans%}Status{%endtrans%}</a></li>
                    <li><a class="nav-link" href="{{ url_for('barman_check_server', server=key) }}">{%trans%}Check{%endtrans%}</a></li>
                    <li><a class="nav-link" href="{{ url_for('barman_listbackup_server', server=key) }}">{%trans%}Backups{%endtrans%}</a></li> 
                    <li><a class="nav-link" href="{{ url_for('barman_show_server', server=key) }}">{%trans%}Show{%endtrans%}</a></li>
                </ul>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endmacro %}