{% extends "base.html" %}
{% block menu_list_server %}
{% for key,value in tab.items() %}
<li class="nav-item">
    <a class="nav-link" href="{{ url_for('barman_check_server', server=key) }}">{{key}}</a>
</li>
{% endfor %}
{% endblock %}
{% block content %}
<h2>Home page</h2>
{% if call_or_get(current_user.is_authenticated) %}
<p><a href="{{ url_for('barman_list_servers') }}">{%trans%}List Servers{%endtrans%}</a></p>
{% else %}
<p><a href="{{ url_for('user.login') }}">{%trans%}Sign in{%endtrans%}</a></p>
{% endif %}
{% endblock %}