{% extends "base.html" %}
{% block content %}
{% for key,value in tab.items() %}
<h2>Détails du serveur {{ key }}</h2>
<table class="table table-sm table-striped">
  <thead class="thead-dark">
    <tr>
        <th scope="col"> Key </th> 
        <th scope="col"> Value </th>
    </tr>
  </thead>
  <tbody>
    {% for it_key,it_value in value.items() %}
    <tr>
        <th scope="row">{{ it_key }}</th> 
        <td>{{ it_value }}</td> 
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endfor %}
{% endblock %}